# fastapi
# uvicorn
# python-multipart
# google-generativeai
# python-dotenv
# mysql-connector-python


fastapi
uvicorn
python-multipart
mysql-connector-python
python-dotenv
pypdf
nltk
google-generativeai
huggingface-hub
